.about
{
    width: 100%;
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first-start;
}

.title 
{
    text-align: center;
    color: #9dff00;
    text-shadow: 0 0 20px #9dff00;
    font-size: 50px;
    font-weight: 900;
    margin-top: 80px;
    margin-bottom: 40px;
    width: 100%;
    }

.title span
{
   
    color:   #3b82f6 ;
    text-shadow: 0 0 20px #3b82f6;
    

}

.content
{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;   
}



.card {
    width: 400px;
    padding: 30px;
    margin: 20px;

    /* زجاج شفاف */
    background: rgba(255, 255, 255, 0.00);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 5px solid rgb(8, 212, 25);
    border-radius: 20px;

    /* تغبيش الخلفية اللي ورا البطاقة */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    /* ظل */
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);

    transition: 0.4s ease;
}

.card:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.11);
}

.icon
{
    color: #f7f0f0;  
    text-shadow: 0 0 10px #000000;
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;   
}

.info
{
    text-align: center;
}

.info h3
{
    color:  #3b82f6;
    font-weight: 900;
    margin-bottom: 15px;
    
}

.info p
{   
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    margin-bottom: 15px;
}

.about_link
{
    text-decoration: none;
    font-weight: 1000;
    color: rgb(34, 2, 83);
    background-color: rgb(209, 183, 219);
    border-radius: 10px;
}


