.about-me_section {
    width: 100%;
    min-height: 100vh;
    background : url(back.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 60px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first-start;
}
