.contact_section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first-start;
      
    /* background-color: #22033b; */
    /* background-size: cover;
    background-attachment: fixed;
    background-position: center;   */
}

.contact_title 
{
    text-align: center;
    color:white;
    text-shadow: 0 0 20px white;
    font-size: 50px;
    font-weight: 900;
    margin-top: 80px;
    margin-bottom: 40px;
    width: 100%;
    }

.contact_title span
{
   
    color:   oldlace ;
    text-shadow: 0 0 20px  oldlace;
}

.contact_content
{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;   
}

.contact_card
{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 5px solid rgb(8, 212, 25); 
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    
    width: 400px;
    /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5); */
    transition: 0.7s ease;
}

.contact_card:hover
{
    transform: scale(1.05);
    /* background: rgb(224, 208, 208); */
} 

.contact_icon
{
    color: #fcfbfd;  
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;   
}

.contact_info h3
{
    color: #a483c5;
    font-weight: 900;
    margin-bottom: 15px;
    text-align: center;
}

.contact_info p
{   
    color: #61d414;;
    text-align: center;
    font-size: 20px;
    font-weight: 1000;
}
